<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task 1</title>
</head>
<body>
<header>
    <h1>Convert Currency in Free Text</h1>
</header>
<main>
    <section>
        <form action="">
            <fieldset>
                <legend>Enter your text for conversion here.</legend>
                <p>Currencies will be detected in the following format:</p>
                <ul>
                    <li><b><i>"CURRENCY_SYMBOL NUMBER"</i></b></li>
                    <li><b><i>"NUMBER CURRENCY_SYMBOL"</i></b></li>
                </ul>
                <section style="margin: 0 auto">
                    <label for="selectedCurrency" style="margin-left: 30%;">Choose number system to convert into:</label>
                    <select name="" id="selectedCurrency"></select>
                    <button id="triggerConversion">Convert</button>
                </section>
                <section class="text-zone" style="margin: 0 auto">

                    <textarea style="margin-left: 40px" required name="" id="inputText" cols="56" rows="15"></textarea>
                    <textarea name="" readonly id="outputText" cols="56" rows="15"></textarea>
                </section>
                <p>Supported fractions to match are:</p>
                <p id="supportedSymbols"></p>
            </fieldset>

        </form>
    </section>
</main>
</body>
</html>