<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task 4</title>
</head>
<body>
<header>
    <h1>Find Cyrillic Names in Text and Replace them With their English Equivalent</h1>
</header>
<main>
    <section>
        <form action="">
            <fieldset>
                <legend>Enter your text for conversion here.</legend>
                <p>Names will be detected regardless of capitalization</p>

                <section style="margin: 0 auto">
                    <button id="triggerConversion" style="margin-left: 470px; margin-bottom: 15px;">Convert</button>
                </section>
                <section class="text-zone" style="margin: 0 auto">
                    <textarea style="margin-left: 40px" required name="" id="inputText" cols="56" rows="15"></textarea>
                    <textarea name="" readonly id="outputText" cols="56" rows="15"></textarea>
                </section>
            </fieldset>

        </form>
    </section>
</main>
</body>
</html>